<div class="row" style="margin-top: 20px;">
  <div class="col-xs-4">
    <img src="https://upload.wikimedia.org/wikipedia/vi/f/fe/1917_%282019%29_Film_Poster.jpeg" alt="" style = "max-height:150px; border-radius: 7px;">
  </div>
  <div class="col-xs-6" style="margin-left: 25px;">
    <h6 style="width: 100px; height: 110px;">{{filmhot.name}}</h6>


    <div style="width: 300px; height: 12px; margin-bottom: 20px;">
      <ul>
        <li style="display: inline; margin-left: -40px;" class='starts' *ngIf="getRate()>=1">
          <img src="assets/images/Star_icon.png" alt="">
        </li>
        <li style="display: inline;" class='starts' *ngIf="getRate()>=2">
          <img src="assets/images/Star_icon.png" alt="">
        </li>
        <li style="display: inline;" class='starts' *ngIf="getRate()>=3">
          <img src="assets/images/Star_icon.png" alt="">
        </li>
        <li style="display: inline;" class='starts' *ngIf="getRate()>=4">
          <img src="assets/images/Star_icon.png" alt="">
        </li>
        <li style="display: inline;" class='starts' *ngIf="getRate()>=5">
          <img src="assets/images/Star_icon.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>
