<div class="container" style="width : 500px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="header" style="text-align: center;">
        <h4 class="title">Bạn có chắc xóa film này không?</h4>
      </div>
      <div class="footer" style="text-align: center;margin-top: 40px;">
        <button mat-raised-button class="blue-white-btn"
                type="button"
                style="margin-right: 15px;"
                (click)="onDelete()"
        >Xóa</button>
        <button mat-raised-button class="blue-white-btn"
                style="margin-left: 15px; background-color: white; color:#3898EC; border: 1px solid #3898EC;"
                type="button"
                (click)="onCancel()"
        >Trở về</button>
      </div>
    </div>
  </div>
</div>
